---
layout: default
---
{% for post in paginator.posts %}
<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<small>
  <span class="date">{{ post.date | date: '%Y/%m/%d' }}</span>
</small>
<div class="content">
   {{ post.excerpt }}
{% if post.excerpt != post.content %}
<a href="{{site_url}}{{post.url}}">ادامه مطلب &raquo;</a>
{% endif %}
</div><hr><br>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      قبلی
    </a>
  {% else %}
    <span class="previous">قبلی</span>
  {% endif %}
  <span class="page_number ">
    صفحه: {{ paginator.page }} از {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">بعدی</a>
  {% else %}
    <span class="next ">بعدی</span>
  {% endif %}
</div><br><br>

    <p class="rss-subscribe">اشتراک <a href="{{ "/feed.xml" | relative_url }}"> RSS</a></p>
