---
layout: default
---
{% for post in paginator.posts %}
<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<ul><li><small>
  <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
</small></li></ul>
<div class="content">
   {{ post.excerpt }}
{% if post.excerpt != post.content %}
<a href="{{site_url}}{{post.url}}">ادامه مطلب...</a>
{% endif %}
</div><hr><br>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}<br>
    <p class="rss-subscribe">اشتراک <a href="{{ "/feed.xml" | relative_url }}"> RSS</a></p>
</div>