---
---
section a, header a {
  text-decoration: none;
  font-weight: normal;
  color: #1863a1;
}
section a:hover, header a:hover, header a:focus {
  text-decoration: underline;
  font-weight: normal;
  color: #0181eb;
}
section a:visited {
  color: #751590;
}
section p {
  line-height: 1.6 !important;
}
section p, ol, ul{
  text-align: right;
  direction: rtl;
  font: 100% IranSANS, Tahoma, Geneva, sans-serif;
}
ol, ul, div .content, section h1, section h2, section h3, section h4, section h5, section h6{
  text-align: right;
  direction: rtl;
}
section h1{
    font-size: 16px;
}
pre, code {
  text-align: left;
  direction: ltr;
}
code {
  display:inline-block;
}
#search-container {
  text-align: justify;
  direction: rtl;
}
#search-container input{
    width: 70%;
}
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  direction: rtl;
}

.PageNavigation a {
  display: block;
  width: 50%;
  margin: 1em 0;
}

.PageNavigation .next {
  float: right;
  text-align: right;
}
.PageNavigation .prev {
  float: left;
  text-align: left;
}
.pagination {
    float: right;
    text-align: right;
    direction: rtl;
}
@import 'jekyll-theme-minimal';

// Import partials.
@import
//  "base",
  "tom.css",
  "default.css"
;
