---
---
section p{
  text-align: justify;
  direction: rtl;
  font: 100% IranSANS, Tahoma, Geneva, sans-serif;
}
div .content, section h1, section h2, section h3, section h4, section h5, section h6{
  text-align: right;
  direction: rtl;
}
pre, code {
  text-align: left;
  direction: ltr;
}
code {
  display:inline-block;
}
#search-container {
  text-align: justify;
  direction: rtl;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  direction: rtl;
}

.PageNavigation a {
  display: block;
  width: 50%;
  margin: 1em 0;
}

.PageNavigation .next {
  float: right;
  text-align: right;
}
.PageNavigation .prev {
  float: left;
  text-align: left;
}
@import 'jekyll-theme-minimal';

// Import partials.
@import
//  "base",
  "default.css"
;
