.toggle-menu {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  top: 10px;
  float: left;
  z-index: 1000;
}

.toggle-menu i {
  position: absolute;
  display: block;
  height: 2px;
  background: #0094FC;
  width: 30px;
  left: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.toggle-menu i:nth-child(1) {
  top: 16px;
}

.toggle-menu i:nth-child(2) {
  top: 24px;
}

.toggle-menu i:nth-child(3) {
  top: 32px;
}

.toggle-menu.active i:nth-child(1) {
  top: 25px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.toggle-menu.active i:nth-child(2) {
  background: transparent;
}

.toggle-menu.active i:nth-child(3) {
  top: 25px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.container {
  position: relative;
  overflow: hidden;
  height: 120px;
}

.menu-drawer ul li {
  text-align: left !important;
  direction: ltr !important;
}

.menu-drawer {
  width: 190px;
  background-color: #fff;
  height: 120px;
  position: absolute;
  right: -550px;
  top: 0;
  transition: right linear .2s;
  padding: 65px 50px 50px 50px;
}

.open {
  right: 0px;
  transition: right linear .2s;
}

.menu-drawer {
  li {
    font-family: lato;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
    a {
      text-decoration: none;
      color: #555;
      &:hover {
        color: #0094FC;
      }
    }
  }
}