<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- if page.lang == 'fa' -%}   
    <div class="root" data-is-touch="false" dir="rtl">
        {{content}} 
    </div>
	{%- else -%}
    <div class="root" data-is-touch="false">
        {{content}} 
    </div>
	{%- endif -%}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
